PORT=3001
DATABASE_URL=postgres://postgres:postgres@localhost:5432/interseguro_endosos
JWT_SECRET=REEMPLAZAR-EN-ENV-super-secret-key-min-32-bytes
JWT_ISSUER=api-auth
JWT_AUDIENCE=interseguro-reto
# Si estan seteadas, sobreescriben todo lo de arriba (ver src/infrastructure/secrets/vault-config.loader.ts)
VAULT_ADDR=
VAULT_TOKEN=
