ConnectionStrings__Postgres=Host=localhost;Port=5432;Database=interseguro_auth;Username=postgres;Password=postgres
Jwt__Secret=REEMPLAZAR-EN-ENV-super-secret-key-min-32-bytes
Jwt__Issuer=api-auth
Jwt__Audience=interseguro-reto
Jwt__ExpirationMinutes=60
# Si estan seteadas, sobreescriben todo lo de arriba (ver VaultConfigurationExtensions.cs)
VAULT_ADDR=
VAULT_TOKEN=
